/* clean CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}

html {background: var(--principal) url('../images/loading.svg') no-repeat center; width: 100%; height: 100%; min-height: 100%; overflow-x: hidden;}
body {display: none; font-family: 'Montserrat'; box-sizing: border-box; background: var(--principal); font-size: 16px; height: 100%; min-height: 100% !important;}

/* Variaveis: */
	:root {
		--principal: #FFFFFF;
		--secundaria: #EDEDED;
		--laranja: #FF5630;
		--azul: #00C5FF;
		--cinza: #616161;
		--cinzaescuro: #414141;
		
		--margin: 52px;
		--marginmin: 30px;
		--tempo: 400ms;
	}
/* Variaveis: */

/* Efeitos de transição: */
	a, span, nav, header, header, .slick-dots li button:before {-webkit-transition: all var(--tempo); -moz-transition: all var(--tempo); -ms-transition: all var(--tempo); -o-transition: all var(--tempo); transition: all var(--tempo);}
/* :Efeitos de transição */

/* Animações */
	@keyframes rotacionar { from {transform: rotate(0);} to {transform: rotate(360deg);} }
	@keyframes left-right { from {transform: scaleX(0);} to {transform: scaleX(1);} }
	@keyframes left-right-corner { from {transform: scale(0);} to {transform: scale(500deg);} }
	@keyframes opacity { 0% {opacity: 1;} 70% {opacity: 0;} 100% {opacity: 1;} }
/* :Animações */

/* Elementos: */
	h1, h2, h3, h4, h5 {}

	h1 {}
	h2 {}
	h4 {}
	i {display: inline-block;}
	p {}
	strong {font-weight: 700;}
	br {clear: both; display: block;}
	a {text-decoration: none;}
	img {display: block; outline: none;}
	section {position: relative; box-sizing: border-box; }
	article {position: relative; max-width: 1280px; box-sizing: border-box; margin: auto;}
	article:after {content: ''; display: block; clear: both;}
/* :Elementos */

/* Backgrounds: */
	.fullscreen-bg {width: 100%; height: 100%; background: no-repeat center center; background-size: cover;}
/* :Backgrounds */
	
/* Header: */
	header {}	
/* :Header */

/* Footer: */
	footer {}
/* :Footer */

/* Slick: */
	
/* :Slick */

/* Página Home: */
	.Home { color: var(--cinzaescuro); }
	/* PrimeiraSessaoHome: */	
		.PrimeiraSessaoHome { background-image: url('../images/bg principal.png'); padding: var(--margin); background-position-x: -100px; overflow: hidden; }
		.PrimeiraSessaoHome .Logo { position: relative; top: 0; left: 0; }
		.PrimeiraSessaoHome .div-esq { position: absolute; bottom: 106px }	
		.PrimeiraSessaoHome h1 { font-size: 65px; font-weight: bold; color: var(--azul); line-height: 63px; z-index: 10; position: relative; animation-name: opacity; animation-duration: 0.75s; }
		.PrimeiraSessaoHome p { color: var(--principal); margin-top: 70px; font-size: 18px; line-height: 22px; z-index: 10; position: relative; }
		.PrimeiraSessaoHome .div-dir { position: absolute; right: 0; top: 0; height: 100vh; }
		.PrimeiraSessaoHome .div-dir .quadrado { width: 85px; height: 85px; display: block; background: var(--laranja); top: 324px; right: 200px; position: relative; z-index: 10; animation-duration: 0.7s; animation-name: rotacionar; }
		.PrimeiraSessaoHome .div-dir .triangulobaixo { transform-origin: bottom left; width: 0px; height: 135px; border-left: 583px solid transparent; border-right: 538px solid transparent; border-bottom: 590px solid #707070; position: absolute; top: 212px; right: -315px; animation-name: left-right-corner; animation-duration: 0.7s; }
		.PrimeiraSessaoHome .div-dir .triangulocima { transform-origin: left; width: 81px; height: 0; border-left: 695px solid transparent; border-top: 703px solid #414141; position: absolute; top: 0; right: -171px; animation-name: left-right; animation-duration: 0.4s;}
		.PrimeiraSessaoHome::before { position: absolute; bottom: 17px; padding-left: 30px; display: flex; align-items: center; width: 55px; height: 35px; left: 50%; right: 50%; z-index: 20; color: var(--principal); content: 'ver mais'; background-image: url(../images/vermais.png); background-repeat: no-repeat; font-size: 10px; }	
	/* :PrimeiraSessaoHome */
		
	/* SegundaSessaoHome: */
		.SegundaSessaoHome article { padding-left: var(--margin); padding-right: var(--margin); padding-top: 105px; padding-bottom: 135px; display: grid; grid-template-columns: 405px auto; }	
		.SegundaSessaoHome .box-direita { display: grid; margin-left: 40px;	grid-auto-rows: max-content; margin-left: 60px; }
		.SegundaSessaoHome .box-cima { margin-bottom: 65px; }
		.SegundaSessaoHome .box-cima p { font-size: 29px; line-height: 49px; font-weight: bold; text-transform: uppercase; color: var(--laranja); }
		.SegundaSessaoHome .box-baixo { display: grid; grid-template-columns: 1fr 1fr 1fr; grid-column-gap: 40px; }
		.SegundaSessaoHome .box-baixo p { font-size: 14px; line-height: 23px; font-weight: 300}
		.SegundaSessaoHome h2 { color: var(--cinzaescuro); font-size: 44px; font-weight: bolder; line-height: 49px; text-transform: uppercase; }
		.SegundaSessaoHome h4 { font-size: 21px; font-weight: bold; color: var(--azul); line-height: 28px; margin-bottom: 47px; margin-top: 101px }
		.SegundaSessaoHome h6 { font-size: 20px; font-weight: bold; color: var(--azul); line-height: 24px; margin-bottom: 47px; }
	/* :SegundaSessaoHome: */	
	
	/* TerceiraSessaoHome: */
		.TerceiraSessaoHome article { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; }
		.TerceiraSessaoHome img { max-width: 100%; width: 100%; height: 100%; }
	/* :TerceiraSessaoHome: */

	/* QuartaSessaoHome: */
		.QuartaSessaoHome article { background-image: url('../images/Home_QuartaSessao.png'); width: 100%; height: 100%; }
		.QuartaSessaoHome p { font-size: 13px; font-weight: bolder; line-height: 46px; position: absolute; left: 27px; top: 29px; color: var(--cinzaescuro); }
	/* :QuartaSessaoHome: */

/* :Página Home */

	

