/* clean CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}

html {background: var(--principal) url('../images/loading.svg') no-repeat center; width: 100%; height: 100%; min-height: 100%; overflow-x: hidden;}
body {display: none; font-family: 'Montserrat'; box-sizing: border-box; background: var(--principal); font-size: 16px; height: 100%; min-height: 100% !important;}

/* Variaveis: */
	:root {
		--principal: #FFFFFF;
		--secundaria: #EDEDED;
		--laranja: #FF5630;
		--azul: #00C5FF;
		--cinza: #616161;
		--cinzaescuro: #414141;
		
		--margin: 52px;		
		--tempo: 400ms;
	}
/* Variaveis: */

/* Efeitos de transição: */
	a, span, nav, header, header, .slick-dots li button:before {-webkit-transition: all var(--tempo); -moz-transition: all var(--tempo); -ms-transition: all var(--tempo); -o-transition: all var(--tempo); transition: all var(--tempo);}
/* :Efeitos de transição */

/* Animações */
	@keyframes rotacionar { from {transform: rotate(0);} to {transform: rotate(360deg);} }
	@keyframes left-right { from {transform: scaleX(0);} to {transform: scaleX(1);} }
	@keyframes left-right-corner { from {transform: scale(0);} to {transform: scale(500deg);} }
	@keyframes opacity { 0% {opacity: 1;} 70% {opacity: 0;} 100% {opacity: 1;} }
/* :Animações */

/* Elementos: */
	h1, h2, h3, h4, h5 {}

	h1 {}
	h2 {}
	h4 {}
	i {display: inline-block;}
	p {}
	strong {font-weight: 700;}
	br {clear: both; display: block;}
	a {text-decoration: none;}
	img {display: block; outline: none;}
	section {position: relative; box-sizing: border-box; }
	article {position: relative; max-width: 1280px; box-sizing: border-box; margin: auto;}
	article:after {content: ''; display: block; clear: both;}
/* :Elementos */

/* Backgrounds: */
	.fullscreen-bg {width: 100%; height: 100%; background: no-repeat center center; background-size: cover;}
/* :Backgrounds */
	
/* Extras: */
	.VerMais::before { position: absolute; bottom: 25px; padding-left: 30px; display: flex; align-items: center; width: 55px; height: 35px; left: 50%; right: 50%; z-index: 20; color: var(--principal); content: 'ver mais'; background-image: url(../images/vermais.svg); background-repeat: no-repeat; font-size: 10px; }	
	.VerMais.Cinza::before { position: absolute; bottom: 25px; padding-left: 30px; display: flex; align-items: center; width: 55px; height: 35px; left: 50%; right: 50%; z-index: 20; color: var(--cinzaescuro); content: 'ver mais'; background-image: url(../images/vermaiscinza.svg); background-repeat: no-repeat; font-size: 10px; }	

	.Download::before { padding-left: 30px; position: relative; display: block; float: right; margin-top: -50px; margin-right: var(--margin); height: 26px; z-index: 20; color: var(--cinzaescuro); content: ''; background-image: url(../images/downloadbranco.svg); background-repeat: no-repeat; font-size: 10px; }
	.Download.Cinza::before { padding-left: 30px; position: relative; display: block; float: right; margin-top: -50px; margin-right: var(--margin); height: 26px; z-index: 20; color: var(--cinzaescuro); content: ''; background-image: url(../images/downloadcinza.svg); background-repeat: no-repeat; font-size: 10px; }
	
	.Download.ComTexto::before { margin-right:25px; margin-bottom: 23px; margin-top: 0; padding-right: 43px; background-position: right; display: flex; align-items: center; position: relative; content: "Baixe aqui o pacote de grafismo"; color: var(--principal); font-size: 14px; }
	.Download.ComTexto { position: absolute; bottom: 0; right: 0; }

	.slick-prev { background: url(../images/slick-esq-branco.svg); background-repeat: no-repeat; left: 37px; z-index: 30; width: 18px; height: 30px; }
	.slick-next { background: url(../images/slick-dir-branco.svg); background-repeat: no-repeat; right: 37px; z-index: 30; width: 18px; height: 30px; }
	

/* :Extras */

/* Página Home: */
	.Home { color: var(--cinzaescuro); }
	/* PrimeiraSessaoHome: */	
		.PrimeiraSessaoHome { background-image: url('../images/bg principal.png'); padding: var(--margin); background-position-x: -100px; overflow: hidden; }
		.PrimeiraSessaoHome .Logo { position: relative; top: 0; left: 0; }
		.PrimeiraSessaoHome .div-esq { position: absolute; bottom: 106px }	
		.PrimeiraSessaoHome h1 { font-size: 65px; font-weight: bold; color: var(--azul); line-height: 63px; z-index: 10; position: relative; animation-name: opacity; animation-duration: 0.75s; }
		.PrimeiraSessaoHome p { color: var(--principal); margin-top: 70px; font-size: 18px; line-height: 22px; z-index: 10; position: relative; }
		.PrimeiraSessaoHome .div-dir { position: absolute; right: 0; top: 0; height: 100vh; }
		.PrimeiraSessaoHome .div-dir .quadrado { width: 85px; height: 85px; display: block; background: var(--laranja); top: 324px; right: 200px; position: relative; z-index: 10; animation-duration: 0.7s; animation-name: rotacionar; }
		.PrimeiraSessaoHome .div-dir .triangulobaixo { transform-origin: bottom left; width: 0px; height: 135px; border-left: 583px solid transparent; border-right: 538px solid transparent; border-bottom: 590px solid #707070; position: absolute; top: 212px; right: -315px; animation-name: left-right-corner; animation-duration: 0.7s; }
		.PrimeiraSessaoHome .div-dir .triangulocima { transform-origin: left; width: 81px; height: 0; border-left: 695px solid transparent; border-top: 703px solid #414141; position: absolute; top: 0; right: -171px; animation-name: left-right; animation-duration: 0.4s;}		
	/* :PrimeiraSessaoHome */
		
	/* SegundaSessaoHome: */
		.SegundaSessaoHome .teste { padding-left: var(--margin); padding-right: var(--margin); padding-top: 105px; padding-bottom: 135px; display: grid; grid-template-columns: 405px auto; }	
		.SegundaSessaoHome .box-direita { display: grid; margin-left: 40px;	grid-auto-rows: max-content; margin-left: 60px; }
		.SegundaSessaoHome .box-cima { margin-bottom: 65px; }
		.SegundaSessaoHome .box-cima p { font-size: 29px; line-height: 49px; font-weight: bold; text-transform: uppercase; color: var(--laranja); }
		.SegundaSessaoHome .box-baixo { display: grid; grid-template-columns: 1fr 1fr 1fr; grid-column-gap: 40px; }
		.SegundaSessaoHome .box-baixo p { font-size: 14px; line-height: 23px; font-weight: 300}
		.SegundaSessaoHome h2 { color: var(--cinzaescuro); font-size: 44px; font-weight: bolder; line-height: 49px; text-transform: uppercase; }
		.SegundaSessaoHome h4 { font-size: 21px; font-weight: bold; color: var(--azul); line-height: 28px; margin-top: 101px }
		.SegundaSessaoHome h6 { font-size: 20px; font-weight: bold; color: var(--azul); line-height: 24px; margin-bottom: 47px; }
	/* :SegundaSessaoHome */	
	
	/* TerceiraSessaoHome: */
		.TerceiraSessaoHome { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; }
		.TerceiraSessaoHome img { max-width: 100%; width: 100%; height: 100%; }
	/* :TerceiraSessaoHome */

	/* QuartaSessaoHome: */
		.QuartaSessaoHome { background-image: url('../images/Home_QuartaSessao.png'); background-size: cover; }
		.QuartaSessaoHome p { font-size: 13px; font-weight: bolder; line-height: 46px; position: absolute; left: 27px; top: 29px; color: var(--cinzaescuro); }
		.QuartaSessaoHome a { display: block; width: 100%; height: 100%; }
	/* :QuartaSessaoHome */
/* :Página Home */

/* Boxes: */
	.BoxMenor { background: var(--cinza) }
	.BoxMenor article { background: var(--cinza); display: grid; grid-template-columns: 348px auto; align-items: center; padding: 36px 0; }
	.BoxMenor h3 { font-size: 20px; line-height: 23px; font-weight: bold; color: var(--azul); text-transform: uppercase; text-align: center; }
	.BoxMenor p { font-size: 15px; line-height: 23px; color: var(--principal); font-weight: 500;}

	.BoxMaior article { background: var(--cinzaescuro); display: grid; grid-template-columns: 50% 50%; align-items: center; justify-items: center; padding: 68px 0; }
	.BoxMaior h3 { font-size: 32px; line-height: 36px; font-weight: bold; color: var(--azul);  }
	.BoxMaior p { font-size: 18px; line-height: 24px; color: var(--principal); font-weight: 400; }
	.BoxMaior p.link { font-size: 14px; line-height: 17px; color: var(--laranja); font-weight: 500; margin-top: 23px;  }
	.BoxMaior p.link a { font-size: 14px; line-height: 17px; color: var(--laranja); text-decoration: underline; font-weight: 300 }
/* :Boxes */

/* Página Logo */
	.Logo {}
	.Logo .BoxMenor { background: var(--cinza) }
	.Logo .BoxMenor article { background: var(--cinza); display: grid; grid-template-columns: 348px auto; align-items: center; padding: 36px 0; }
	.Logo .BoxMenor h3 { font-size: 20px; line-height: 23px; font-weight: bold; color: var(--azul); text-transform: uppercase; text-align: center; }
	.Logo .BoxMenor p { font-size: 15px; line-height: 23px; color: var(--principal); }

	.Logo .BoxMaior { background: var(--cinzaescuro);  }
	.Logo .BoxMaior article { display: grid; grid-template-columns: 50% 50%; align-items: center; justify-items: center; padding: 68px 0; }
	.Logo .BoxMaior h3 { font-size: 32px; line-height: 36px; font-weight: bold; color: var(--azul); }
	.Logo .BoxMaior p { font-size: 18px; line-height: 24px; color: var(--principal); font-weight: 400; }
	.Logo .BoxMaior p.link { font-size: 14px; line-height: 17px; color: var(--laranja); font-weight: 500; margin-top: 23px;  }
	.Logo .BoxMaior p.link a { font-size: 14px; line-height: 17px; color: var(--laranja); text-decoration: underline; font-weight: 300 }

	.SliderLogotipoCor div {width: 100%; height: 100%!important; }
	.SliderLogotipoCor.slick-dotted { margin-bottom: 0!important; }
	.SliderLogotipoCor p {margin-top: 140px;}
	.SliderLogotipoCor img { max-width: 100%; }
	.SliderLogotipoCor .slick-slide div { display: flex!important; justify-content: center; align-items: center; }

	.SliderLogotipoCor ul.slick-dots { width: auto; margin-left: var(--margin); margin-bottom: 25px; bottom: 0 }
	.SliderLogotipoCor .slick-dots li  { width: 22px; height: 22px; margin: 0px; padding: 5px; }
	.SliderLogotipoCor .slick-dots li button:before { width: 22px; height: 22px;  }
	
	.SliderLogotipoCor .slick-dots li:nth-of-type(1) button:before { background: var(--principal); border-color: var(--cinzaescuro) }
	.SliderLogotipoCor .slick-dots li:nth-of-type(2) button:before { background: var(--cinzaescuro); border-color: transparent }
	.SliderLogotipoCor .slick-dots li:nth-of-type(3) button:before { background: var(--azul); }
	.SliderLogotipoCor .slick-dots li:nth-of-type(4) button:before { background: url('../images/Logo_Slider_Cinza_Azul.svg'); border-color: var(--cinza) }
	.SliderLogotipoCor .slick-dots li:nth-of-type(5) button:before { background: var(--laranja); border-color: #ffffff87 }
	.SliderLogotipoCor .slick-dots li:nth-of-type(6) button:before { background: url('../images/Logo_Slider_Cinza_Laranja.svg'); border-color: var(--cinza) }
	.SliderLogotipoCor .slick-dots li:nth-of-type(7) button:before { background: url('../images/Logo_Slider_Circulo_Colorido.svg'); border: transparent }
	.SliderLogotipoCor .slick-dots li:nth-of-type(8) button:before { background: url('../images/Logo_Slider_Branco_Preto.svg'); border: 0 }	

	.SliderLogotipoCor .slick-dots .slick-active button:before { top: -10px; }	
	.SliderLogotipoCor .slick-dots .slick-active:nth-of-type(1) button:before { border: 1px solid var(--cinza) }
	.SliderLogotipoCor .slick-dots .slick-active:nth-of-type(2) button:before { border: 1px solid var(--principal) }
	.SliderLogotipoCor .slick-dots .slick-active:nth-of-type(3) button:before { border: 1px solid var(--principal) }
	.SliderLogotipoCor .slick-dots .slick-active:nth-of-type(5) button:before { border: 1px solid var(--principal) }
	.SliderLogotipoCor .slick-dots .slick-active:nth-of-type(6) button:before { border: 1px solid var(--cinza) }

	.SliderLogotipoCor div:nth-of-type(2) {background-color: var(--cinzaescuro);}
	.SliderLogotipoCor div:nth-of-type(3) {background-color: var(--azul);}
	.SliderLogotipoCor div:nth-of-type(4) {background-color: var(--azul);}
	.SliderLogotipoCor div:nth-of-type(5) {background-color: var(--laranja);}
	.SliderLogotipoCor div:nth-of-type(6) {background-color: var(--laranja);}	

	/* PrimeiraSessaoLogo: */
		.PrimeiraSessaoLogo .SliderLogotipoCor div:nth-of-type(7) {background: url('../images/Logo_QuartaSessao_bg_maior.png'); background-repeat: no-repeat; background-size: cover; }
		.PrimeiraSessaoLogo .texto-circulos { max-width: 223px; position: absolute; left: 335px; bottom: 25px; }
		.PrimeiraSessaoLogo .texto-circulos p { font-size: 14px; line-height: 15px; color: var(--cinza); }
	/* :PrimeiraSessaoLogo */

	/* :SegundaSessaoLogo */
		.SegundaSessaoLogo .wrapper { display: grid; grid-template-columns: 50% 50%; min-height: 100%; grid-template-rows: 100%; font-size: 14px; line-height: 17px; }
		.SegundaSessaoLogo h6 { text-transform: uppercase; font-size: 14px; font-weight: bold; line-height: 15px; color: var(--principal) }
		
		.SegundaSessaoLogo .wrapper-img { width: 100%; height: 100%; display: flex;	align-items: center; justify-content: center; }
		.SegundaSessaoLogo img { max-width: 100%; }
		
		.SegundaSessaoLogo .esq { background: var(--cinzaescuro); color: var(--principal); }
		.SegundaSessaoLogo .esq p { max-width: 100%; position: absolute; bottom: 36px; margin-left: var(--margin); }
		.SegundaSessaoLogo .esq h6 { margin-left: var(--margin); position: absolute; top: 32px; }
		
		.SegundaSessaoLogo .dir { background: var(--secundaria); }
		.SegundaSessaoLogo .dir p { position: absolute; bottom: 25px; margin-left: 23px; }
		.SegundaSessaoLogo .dir h6 { color: var(--cinza); position: absolute; top: 32px; margin-left: 31px; }
	/* SegundaSessaoLogo: */
	
	
	/* TerceiraSessaoLogo: */		
		.TerceiraSessaoLogo .SliderLogotipoCor div:nth-of-type(7) {background: url('../images/Logo_QuartaSessao_bg_menor.png'); background-repeat: no-repeat; background-size: cover; }
		.TerceiraSessaoLogo .wrapper { display: grid; grid-template-columns: 50% 50%; height: 100%; }
		.TerceiraSessaoLogo .dir { display: grid; grid-template-rows: 50% 50%; font-size: 14px; line-height: 17px; }
		.TerceiraSessaoLogo .dir p:first-child { text-transform: uppercase; font-weight: bold; line-height: 15px; margin-top: 22px; margin-left: 23px }
		.TerceiraSessaoLogo .dir p:last-child { margin-left: 23px; margin-bottom: 25px; position: relative; display: flex; align-self: flex-end; }		
		.TerceiraSessaoLogo .dir > div { display: grid; grid-template-columns: 170px auto; }
		.TerceiraSessaoLogo .dir > div:first-child { background: var(--cinzaescuro); color: var(--principal) }
		.TerceiraSessaoLogo .dir > div:last-child { background: var(--secundaria); color: var(--cinzaescuro) }
		.TerceiraSessaoLogo .dir > div > div:first-child { display: grid; grid-template-rows: 50% 50%; }
		.TerceiraSessaoLogo .dir > div > div:last-child { display: grid; align-items: center; justify-items: center; }
	/* :TerceiraSessaoLogo */

	/* :QuartaSessaoLogo */						
		.QuartaSessaoLogo .SliderLogotipoCor div:nth-of-type(7) {background: url('../images/Logo_QuartaSessao_bg_menor.png'); background-repeat: no-repeat; background-size: cover; }
		.QuartaSessaoLogo .wrapper { display: grid; grid-template-columns: 50% 50%; height: 100%; }
		.QuartaSessaoLogo .dir { display: grid; grid-template-rows: 50% 50%; font-size: 14px; line-height: 17px; }
		.QuartaSessaoLogo .dir p:first-child { text-transform: uppercase; font-weight: bold; line-height: 15px; margin-top: 22px; margin-left: 23px }
		.QuartaSessaoLogo .dir p:last-child { margin-left: 23px; margin-bottom: 25px; position: relative; display: flex; align-self: flex-end; }		
		.QuartaSessaoLogo .dir > div { display: grid; grid-template-columns: 170px auto; }
		.QuartaSessaoLogo .dir > div:first-child { background: var(--cinzaescuro); color: var(--principal) }
		.QuartaSessaoLogo .dir > div:last-child { background: var(--secundaria); color: var(--cinzaescuro) }
		.QuartaSessaoLogo .dir > div > div:first-child { display: grid; grid-template-rows: 50% 50%; }
		.QuartaSessaoLogo .dir > div > div:last-child { display: grid; align-items: center; justify-items: center; }
	/* QuartaSessaoLogo: */

	/* :SextaSessaoLogo */		
		.SextaSessaoLogo .wrapper { display: grid; grid-template-columns: auto auto auto auto; align-items: center; justify-items: center; font-size: 12px; line-height: 15px; text-align: center; color: var(--cinzaescuro); background: var(--secundaria); padding-top: 55px;  }
		.SextaSessaoLogo p:first-child { text-transform: uppercase; font-size: 14px; font-weight: bold; color: var(--cinzaescuro); margin-left: var(--margin); margin-top: 42px; margin-bottom: 55px; position: absolute; }
		.SextaSessaoLogo p:last-child{ margin-bottom: 50px}
		.SextaSessaoLogo img { margin: auto; margin-bottom: 22px; }
	/* SextaSessaoLogo: */	
/* :Página Logo */

	
/* Página Grafismos: */
	.Grafismos .BoxMenor h3 { margin-left: 138px; text-align: left; }
	
	.Grafismos .BoxGridImagens { display: grid; grid-template-columns: 25% 25% 25% 25%; padding: 70px 0; align-items: baseline; justify-items: center; }
	.Grafismos .BoxGridImagens > div { display: grid; grid-template-rows: auto auto; }
	.Grafismos .BoxGridImagens > div p { padding-top: 60px; font-size: 11px; line-height: 14px; color: var(--cinzaescuro); text-align: center; }

	.Grafismos .BoxNaoFazemos { background: var(--secundaria); color: var(--cinzaescuro); font-size: 11px; line-height: 14px; }
	.Grafismos .BoxNaoFazemos > div:first-of-type { display: grid; grid-template-rows: auto auto; grid-template-columns: 350px auto; align-items: baseline; padding-top: 40px; padding-bottom: 80px }	
	.Grafismos .BoxNaoFazemos > div:last-of-type { display: grid; grid-template-columns: 25% 25% 25% 25%; justify-items: center; padding-bottom: 80px; text-align: center; }
	.Grafismos .BoxNaoFazemos .Titulo p { margin-left: var(--margin); font-weight: bold; font-size: 14px; line-height: 15px; }
	.Grafismos .BoxNaoFazemos .Desc p { font-size: 14px; line-height: 23px; }
	.Grafismos .BoxNaoFazemos img { margin-bottom: 30px; max-width: 100%; }

	/* GrafismosPrimeiraSessao: */
		.GrafismosPrimeiraSessao { background-image: url('../images/Grafismos_PrimeiraSessao.png'); background-size: cover; background-repeat: no-repeat; }
		.Grafismos .BoxMenor article { align-items: baseline; }
	/* :GrafismosPrimeiraSessao */

	/* GrafismosSegundaSessao: */
		.GrafismosSegundaSessao .wrapper { display: grid; grid-template-columns: 33.33% 33.33% 33.33%; justify-items: center;}
		.GrafismosSegundaSessao .wrapper img { max-width: 100%; }
		.GrafismosSegundaSessao .wrapper div { margin: 88px 30px 44px 30px }
		.GrafismosSegundaSessao .wrapper div p:first-of-type { font-size: 20px; line-height: 24px; font-weight: bolder; color: var(--azul); margin-top: 44px; margin-bottom: 10px; }
		.GrafismosSegundaSessao .wrapper div p:last-of-type { font-size: 11px; line-height: 14px; color: var(--cinzaescuro); }
	/* :GrafismosSegundaSessao */

	/* GrafismosTerceiraSessao: */
		.GrafismosTerceiraSessao .wrapper { padding-top: 112px; padding-bottom: 144px; display: grid; grid-template-columns: 20% 20% 20% 20% 20%; background: var(--cinzaescuro); color: var(--principal) }
		.GrafismosTerceiraSessao .wrapper img { max-width: 100%; width: 100%; }		
		.GrafismosTerceiraSessao .wrapper div p:first-of-type { font-size: 17px; line-height: 22px; color: var(--azul); margin-top: 44px; margin-bottom: 15px; margin-left: 30px }
		.GrafismosTerceiraSessao .wrapper div p:last-of-type { font-size: 14px; line-height: 16px; margin-left: 30px; }
	/* :GrafismosTerceiraSessao */

	/* GrafismosQuartaSessao: */
		.SliderGrafismos.slick-slider { margin-bottom: 0; }
		.SliderGrafismos .slick-slide { height: auto; }
		.SliderGrafismos .slick-dots li button:before { width: 12px; height: 12px; border: 0 }
		.SliderGrafismos .slick-dots li.slick-active button:before { background-color: var(--laranja) }

		/* Fazer interacao das arrows mudarem de cor */
/* :Página Grafismos */

/* :Página Cores */
	/* CoresPrimeiraSessao: */
		.PrimeiraSessaoCores { background-image: url('../images/Cores_PrimeiraSessao_01.png'); }
	/* :CoresPrimeiraSessao */
	
	/* CoresSegundaSessao: */
		.SegundaSessaoCores { background: var(--cinzaescuro); color: var(--principal); padding-top: var(--margin); padding-bottom: var(--margin); }
		.SegundaSessaoCores .wrapper { padding-left: var(--margin); }
		.SegundaSessaoCores .TituloCor p { font-size: 71px; font-weight: bold; margin-bottom: 240px; text-transform: uppercase; }
		.SegundaSessaoCores .DescCor p { font-size: 14px; line-height: 15px; font-weight: bold; text-transform: uppercase; }
	/* :CoresSegundaSessao */

	/* CoresTerceiraSessao: */
		.TerceiraSessaoCores { text-transform: uppercase; font-weight: bold; color: var(--principal); }
		.TerceiraSessaoCores .wrapper { display: grid; grid-template-columns: 33.33% 33.33% 33.33%; }
		.TerceiraSessaoCores .TituloCor p { font-size: 26px; line-height: 27px; margin-bottom: 330px; }
		.TerceiraSessaoCores .DescCor p { font-size: 14px; line-height: 15px; }
			
		.TerceiraSessaoCores .Box1 { background: var(--cinza); padding: 33px 0 37px 52px }
		.TerceiraSessaoCores .Box2 { background: var(--azul); padding: 33px 0 37px 52px }
		.TerceiraSessaoCores .Box3 { background: var(--laranja); padding: 33px 0 37px 52px }
	/* :CoresTerceiraSessao */	

	/* CoresQuartaSessao: */
		.QuartaSessaoCores { color: var(--cinzaescuro) }
		.QuartaSessaoCores { display: grid; grid-template-columns: 50% 50%; padding-top: 104px; padding-bottom: 86px; padding-left: var(--margin); align-items: center; }
		.QuartaSessaoCores h2 { font-size: 49px; line-height: 51px; font-weight: 900; text-transform: uppercase; }
		.QuartaSessaoCores img { margin: auto; }
	/* :CoresQuartaSessao */

	/* CoresQuintaSessao: */
		.QuintaSessaoCores {} 
		.QuintaSessaoCores .wrapper { display: grid; grid-template-columns: 50% 50%; padding-top: 40px; padding-bottom: 80px; }
		
		.QuintaSessaoCores .boxes div { height: 38px; width: 100%; display: block; font-size: 11px; font-weight: 700; }
		.QuintaSessaoCores .boxes div span { padding-top: 15px; }
		.QuintaSessaoCores .boxes div span:first-child { float: left; margin-left: 9px; }
		.QuintaSessaoCores .boxes div span:last-child { float: right; margin-right: 9px; }
		
		.QuintaSessaoCores .esq { display: grid; grid-template-rows: auto auto; color: var(--cinzaescuro); margin-left: var(--margin); }		
		.QuintaSessaoCores .esq-cima { text-transform: uppercase; }
		
		.QuintaSessaoCores .esq-cima .box1 .boxes div:nth-of-type(1) { background: #212121; color: #FFF }
		.QuintaSessaoCores .esq-cima .box1 .boxes div:nth-of-type(2) { background: #414141; color: #FFF }
		.QuintaSessaoCores .esq-cima .box1 .boxes div:nth-of-type(3) { background: #616161; color: #FFF }
		.QuintaSessaoCores .esq-cima .box1 .boxes div:nth-of-type(4) { background: #757575; color: #FFF }
		.QuintaSessaoCores .esq-cima .box1 .boxes div:nth-of-type(5) { background: #9E9E9E; color: #000 }
		.QuintaSessaoCores .esq-cima .box1 .boxes div:nth-of-type(6) { background: #BDBDBD; color: #000 }
		.QuintaSessaoCores .esq-cima .box1 .boxes div:nth-of-type(7) { background: #E0E0E0; color: #000 }
		.QuintaSessaoCores .esq-cima .box1 .boxes div:nth-of-type(8) { background: #EEEEEE; color: #000 }
		.QuintaSessaoCores .esq-cima .box1 .boxes div:nth-of-type(9) { background: #F5F5F5; color: #000 }
		.QuintaSessaoCores .esq-cima .box1 .boxes div:nth-of-type(10) { background: #FAFAFA; color: #000 }

		.QuintaSessaoCores .esq-cima .box2 .boxes div:nth-of-type(1) { background: #01579B; color: #FFF }
		.QuintaSessaoCores .esq-cima .box2 .boxes div:nth-of-type(2) { background: #0277BD; color: #FFF }
		.QuintaSessaoCores .esq-cima .box2 .boxes div:nth-of-type(3) { background: #0288D1; color: #FFF }
		.QuintaSessaoCores .esq-cima .box2 .boxes div:nth-of-type(4) { background: #039BE5; color: #FFF }
		.QuintaSessaoCores .esq-cima .box2 .boxes div:nth-of-type(5) { background: #03A9F4; color: #000 }
		.QuintaSessaoCores .esq-cima .box2 .boxes div:nth-of-type(6) { background: #29B6F6; color: #000 }
		.QuintaSessaoCores .esq-cima .box2 .boxes div:nth-of-type(7) { background: #4FC3F7; color: #000 }
		.QuintaSessaoCores .esq-cima .box2 .boxes div:nth-of-type(8) { background: #81D4FA; color: #000 }
		.QuintaSessaoCores .esq-cima .box2 .boxes div:nth-of-type(9) { background: #B3E5FC; color: #000 }
		.QuintaSessaoCores .esq-cima .box2 .boxes div:nth-of-type(10) { background: #E1F5FE; color: #000 }

		.QuintaSessaoCores .esq-cima .box3 .boxes div:nth-of-type(1) { background: #BF360C; color: #FFF }
		.QuintaSessaoCores .esq-cima .box3 .boxes div:nth-of-type(2) { background: #D84315; color: #FFF }
		.QuintaSessaoCores .esq-cima .box3 .boxes div:nth-of-type(3) { background: #E64A19; color: #FFF }
		.QuintaSessaoCores .esq-cima .box3 .boxes div:nth-of-type(4) { background: #F4511E; color: #FFF }
		.QuintaSessaoCores .esq-cima .box3 .boxes div:nth-of-type(5) { background: #FF5630; color: #FFF }
		.QuintaSessaoCores .esq-cima .box3 .boxes div:nth-of-type(6) { background: #FF7043; color: #000 }
		.QuintaSessaoCores .esq-cima .box3 .boxes div:nth-of-type(7) { background: #FF8A65; color: #000 }
		.QuintaSessaoCores .esq-cima .box3 .boxes div:nth-of-type(8) { background: #FFAB91; color: #000 }
		.QuintaSessaoCores .esq-cima .box3 .boxes div:nth-of-type(9) { background: #FFCCBC; color: #000 }
		.QuintaSessaoCores .esq-cima .box3 .boxes div:nth-of-type(10) { background: #FBE9E7; color: #000 }

		.QuintaSessaoCores .esq-baixo .box1 .boxes div:nth-of-type(1) { background: #008648; color: #FFF }
		.QuintaSessaoCores .esq-baixo .box1 .boxes div:nth-of-type(2) { background: #00CC88; color: #000 }
		.QuintaSessaoCores .esq-baixo .box1 .boxes div:nth-of-type(3) { background: #86E7C7; color: #000 }
		.QuintaSessaoCores .esq-baixo .box1 .boxes div:nth-of-type(4) { background: #E4F8EE; color: #000 }

		.QuintaSessaoCores .esq-baixo .box2 .boxes div:nth-of-type(1) { background: #D2A500; color: #000 }
		.QuintaSessaoCores .esq-baixo .box2 .boxes div:nth-of-type(2) { background: #FFC925; color: #000 }
		.QuintaSessaoCores .esq-baixo .box2 .boxes div:nth-of-type(3) { background: #FFDE7B; color: #000 }
		.QuintaSessaoCores .esq-baixo .box2 .boxes div:nth-of-type(4) { background: #FFF8E1; color: #000 }

		.QuintaSessaoCores .esq-baixo .box3 .boxes div:nth-of-type(1) { background: #E32000; color: #FFF }
		.QuintaSessaoCores .esq-baixo .box3 .boxes div:nth-of-type(2) { background: #FF5E33; color: #FFF }
		.QuintaSessaoCores .esq-baixo .box3 .boxes div:nth-of-type(3) { background: #FFA289; color: #000 }
		.QuintaSessaoCores .esq-baixo .box3 .boxes div:nth-of-type(4) { background: #FEE7E5; color: #000 }
		
		.QuintaSessaoCores .esq-cima { display: grid; grid-template-columns: 167px 167px 167px; grid-column-gap: 7px; margin-bottom: 50px; }
		.QuintaSessaoCores .esq p:first-child { font-size: 14px; line-height: 15px; font-weight: bold; margin-bottom: 20px; }

		.QuintaSessaoCores .esq-baixo { display: grid; grid-template-columns: 167px 167px 167px; grid-column-gap: 7px; }
	/* :CoresQuintaSessao */

	/* CoresSextaSessao: */
		.SextaSessaoCores .wrapper { display: grid; grid-template-columns: auto auto auto auto; align-items: center; justify-items: center; font-size: 12px; line-height: 15px; text-align: center; color: var(--cinzaescuro); background: var(--secundaria); padding-top: 55px;  }
		.SextaSessaoCores p:first-child { text-transform: uppercase; font-size: 14px; font-weight: bold; color: var(--cinzaescuro); margin-left: var(--margin); margin-top: 42px; margin-bottom: 55px; position: absolute; }
		.SextaSessaoCores p:last-child{ margin-bottom: 50px}
		.SextaSessaoCores img { margin: auto; margin-bottom: 22px; margin-top: var(--margin) }
	/* :CoresSextaSessao */

/* Página Cores: */
